#question-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    text-align: center;
}

img {
    border: 20px solid #afdcde;
    width: auto;
    height: 300px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}

b {
    font-size: 22px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #75ff93;
    border: none;
    cursor: pointer;
    width: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.correct {
    border-color: #75ff93;
  }
  
.incorrect {
    border-color: #ff7575;
}
